/*
BG   #221E1D #ECEAE0 #E9633B
TEXT #EDEBE1 #AEAB9D #63AA9C #221E1D
*/

html {
    overflow-y: scroll; /* To avoid scrollbar from disturbing the layout */
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #221E1D;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    color: #333;
}

div#wrapper {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    background-color: #ECEAE0;
}


/* Page Header */

#main_header {
    background-color: #E9633B;
    padding: 20px;
    min-height: 75px;
    position: relative;
}

#main_header a {
    text-decoration: none;
    color: #63AA9C;
    padding: 10px;
}

#main_header a[class$="logo"] {
    color: #EDEBE1;
}

#main_header > div div {
    display: inline-block;
    margin: 20px;
}

#main_header div.logo-container > a {
    font-size: 40px;
    line-height: 75px;
}

div#wrapper > section{
    padding: 20px;
}

section#main_section {
    width: 65%;
    float: left;
    padding: 20px 5%;
    box-sizing: border-box;
}

section article.article-item {
    width: 49%;
    display: inline-block;
    opacity: 1;
}

section article.article-item:hover {
    width: 49%;
    display: inline-block;
    opacity: 0.6;
}

section article.article-item a.articlelink {
    display: block;
    margin: 15px;
    text-decoration: none;
    color: inherit;
}

#upcoming_aside {
    float: right;
    width: 29%;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #221E1D;
    color: #63AA9C;
    margin: 3%;
    text-align: center;
}

#upcoming_aside > section {
    color: #317D6E;
    font-size: 90%;
}

/* Page footer*/

#main_footer {
    position: absolute;
    bottom: 0;
    min-height: 50px;
    width: 100%;
    text-align: center;
}