/*
BG   #221E1D #ECEAE0 #E9633B
TEXT #EDEBE1 #AEAB9D #63AA9C #221E1D
*/

html {
    overflow-y: scroll; /* To avoid scrollbar from disturbing the layout */
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #221E1D;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    color: #333;
}

div#wrapper {
    width: 100%%;
    height: 100%;
    background-color: #ECEAE0;
}


/* Page Header */

#main_header {
    background-color: #E9633B;
    padding: 20px;
    min-height: 75px;
}

#main_header a {
    text-decoration: none;
    color: #221E1D;
    padding: 10px;
}

#main_header a[class$="logo"] {
    color: #EDEBE1;
}

#main_header > div div {
    display: inline-block;
    margin: 20px;
}

#main_header div.logo-container > a {
    font-size: 40px;
    line-height: 75px;
}

div#wrapper > section{
    padding: 20px;
}

#main_section {
    width: 65%;
    float: left;
    padding: 20px 5%;
    box-sizing: border-box;
}

#main_section .article-item {
    width: 90%;
    height: 150px;
    padding: 25px;
    display: inline-block;
    position: relative;
    opacity: 1;
    cursor: pointer;
}

#main_section .article-item:hover {
    opacity: 0.6;
}

#main_section .article-item .figure-container {
    float: left;
    box-sizing: border-box;
    width: 40%;
    height: 100%;
}

#main_section .article-item figure {
    margin: 0;
    width: 100%;
    height: 100%;
}

#main_section .article-item figure > img {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#main_section .article-item .desc-container {
    float: left;
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding: 0 20px;
    position: relative;
}

#main_section .article-item .desc-container .article-desc .article-title {
    font-size: 100%;
}

#main_section .article-item .desc-container .article-desc .article-summary {
    font-size: 90%;
}

#main_section .article-item .desc-container .article-meta {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 36px;
    line-height: 36px;
}

#main_section .article-item .desc-container .article-meta .article-author-info {
    float: left;
}

#main_section .article-item .desc-container .article-meta .article-author-info .article-img {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #E9633B;
    background-color: #ECEAE0;
    background-size: 100% 100%;
    box-sizing: border-box;
}

#main_section .article-item .desc-container .article-meta .article-author-info .article-author {
    color: #E9633B;
    font-size: 90%;
    text-transform: lowercase;
}

#main_section .article-item .desc-container .article-meta .article-categories {
    color: #317D6E;
    font-size: 80%;
    float: right;
}

#main_section .article-item .article-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#main_section div.ruler, div.top-ruler {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(circle farthest-corner at 45px 45px, #ECEAE0, #221E1D 40%, #ECEAE0);
}

div.top-ruler {
    position: relative;
    left: 25px; /*BUG: Width doesn't match with other rulers */
}

#upcoming_aside {
    float: right;
    width: 29%;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #221E1D;
    color: #EDEBE1;
    margin: 3%;
    text-align: center;
}

#upcoming_aside > section {
    color: #317D6E;
    font-size: 90%;
}

/* Page footer*/

#main_footer {
    clear: both;
    min-height: 50px;
    width: 100%;
    text-align: center;
    background-color: #221E1D;
    color: #EDEBE1;
    padding: 20px;
    box-sizing: border-box;
    font-size: 90%;
}

#profiles {
    display: table;
    height: 32px;
    margin: 0 auto;
}

#profiles > span {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 2px;
}

.profile-link {
    text-decoration: none;
}

.profile-link .profile-icon {
    width: 32px;
    height: 32px;
}