/*
BG   #221E1D #ECEAE0 #E9633B
TEXT #EDEBE1 #AEAB9D #63AA9C #221E1D
*/

html {
    overflow-y: scroll; /* To avoid scrollbar from disturbing the layout */
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #221E1D;
    font-family: Tahoma, Arial, Helvetica, Sans-Serif;
    color: #333;
}

div#wrapper {
    width: 100%%;
    height: 100%;
    background-color: #ECEAE0;
}


/* Page Header */

#main_header {
    background-color: #E9633B;
    padding: 20px;
    min-height: 75px;
}

#main_header a {
    text-decoration: none;
    color: #221E1D;
    padding: 10px;
}

#main_header a[class$="logo"] {
    color: #EDEBE1;
}

#main_header > div div {
    display: inline-block;
    margin: 20px;
}

#main_header div.logo-container > a {
    font-size: 40px;
    line-height: 75px;
}

div#wrapper > section{
    padding: 20px;
}

section#main_section {
    width: 65%;
    float: left;
    padding: 20px 5%;
    box-sizing: border-box;
}

section#main_section article.article-item {
    width: 90%;
    height: 200px;
    margin: 15px;
    display: inline-block;
    position: relative;
    opacity: 1;
    cursor: pointer;
}

section#main_section article.article-item:hover {
    opacity: 0.6;
}

section#main_section article.article-item div.article-container {
    margin: 15px;
}

section#main_section article.article-item figure {
    float: left;
    margin: 0;
    width: 40%;
    height: 100%;
}

section#main_section article.article-item figure > img {
    width: 100%;
    max-height: 100%;
}

section#main_section article.article-item a.articlelink {
    display: block;
    margin: 15px;
    text-decoration: none;
    color: inherit;
}

section#main_section article.article-item a.alink {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#upcoming_aside {
    float: right;
    width: 29%;
    border: 1px solid;
    box-sizing: border-box;
    background-color: #221E1D;
    color: #EDEBE1;
    margin: 3%;
    text-align: center;
}

#upcoming_aside > section {
    color: #317D6E;
    font-size: 90%;
}

/* Page footer*/

#main_footer {
    clear: both;
    min-height: 50px;
    width: 100%;
    text-align: center;
    background-color: #221E1D;
    color: #EDEBE1;
    padding: 20px;
    box-sizing: border-box;
    font-size: 90%;
}

#profiles {
    display: table;
    height: 32px;
    margin: 0 auto;
}

#profiles > span {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 2px;
}

.profile-link {
    text-decoration: none;
}

.profile-link .profile-icon {
    width: 32px;
    height: 32px;
}