html,
body {
    height: 100%;
    overflow: hidden;
}

#frame_section {
    /* Fill the rest of the height */
    position: absolute;
    bottom: 0px;
    top: 165px;
    left: 0px;
    right: 0px;
}

iframe {
    width: 100%;
    height: 100%;
}

#internal_browser {
    height: 85%;
}

.interview-links a {
    display: inline-block;
    height: 15%;
    margin: 0 20px;
}