html, body {
    height: auto;
}

div[id^="container"] {
    margin: 5px;
    padding: 5px;
    border: 1px solid #999;
}

#container1 > p {
    color: #0F0;
}

#container2 p.para + p {
    color: #00F;
}

#container3 p.para ~ p {
    color: #F0F;
}