#wrapper {
    text-align: center;
}

div[id^=article] {
    border: 1px solid grey;
    margin: 25px;
}

#article1 {
    counter-reset: header-one;
}

#article1 h1::before {
    content: counter(header-one)")";
    counter-increment: header-one;
    background-color: #aaa;
    margin: 0 10px;
}

#article1 h1 {
    counter-reset: subheader-one;
}

#article1 h2::before {
    content: counter(header-one)"."counter(subheader-one)")";
    counter-increment: subheader-one;
    background-color: #ea7;
    margin: 0 10px;
}

#article2 {
    counter-reset: header-two;
}

#article2 h1::before {
    content: counter(header-two, upper-roman)".";
    counter-increment: header-two;
    margin: 0 10px;
}

#article2 h1 {
    counter-reset: subheader-two;
}

#article2 h2::before {
    content: counter(subheader-two, lower-alpha)".";
    counter-increment: subheader-two;
    margin: 0 10px;
}

#article3 {
    counter-reset: header-three;
}

#article3 h1::before {
    content: counter(header-three, upper-alpha);
    counter-increment: header-three;
    font-size: 8pc;
    font-family: monospace;
}